<p style="color: green"><%= notice %></p>

<% content_for :title, "Todos" %>

<h1>Todos</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>Done: <%= todo.done ? "Yes" : "No" %></p>
    <p>
      <%= button_to(todo.done ? "Mark as not done" : "Mark as done",
                    todo_path(todo),
                    method: :patch,
                    params: { todo: { done: !todo.done } }) %>
    </p>
    <p>
      <%= link_to "Show this todo", todo %>
    </p>
  <% end %>
</div>

<%= link_to "New todo", new_todo_path %>
